<div class="px-4 pt-4 max-w-[900px] mx-auto">
    <div class="text-center bg-teal-600 p-2 rounded">
      <h1 class="font-bold text-lg text-slate-50">Delete Product</h1>
    </div>
  
    <form [formGroup]="form" (ngSubmit)="onFubmitForm()">
      <div class="flex flex-col gap-1 pt-4">
        <div class="flex flex-col">
          <label for="name">Name</label>
          <input
            class="shadow rounded px-3 py-2"
            type="text"
            placeholder="Enter Product Name"
            id="name"
            formControlName="name"
          />
        </div>
        <div class="flex flex-col">
          <label for="price">Price</label>
          <input
            class="shadow rounded px-3 py-2"
            type="text"
            placeholder="Enter Price"
            id="price"
            formControlName="price"
            mask="0*"
            />
        </div>
        <div class="flex flex-col">
          <label for="description">Description</label>
          <textarea
            class="shadow rounded px-3 py-2"
            type="text"
            rows="5"
            placeholder="Enter Description"
            id="description"
            formControlName="description"
            mask="0*"
          ></textarea>
        </div>
        <div class="flex flex-col">
            <label for="categoryName">Category Name</label>
            <input
              class="shadow rounded px-3 py-2"
              type="text"
              placeholder="Enter Category Name"
              id="categoryName"
              formControlName="categoryName"
              mask="0*"
              />
          </div>
          <div class="flex flex-col">
            <label for="imageUrl">ImageUrl</label>
            <input
              class="shadow rounded px-3 py-2"
              type="text"
              placeholder="Enter ImageUrl"
              id="imageUrl"
              formControlName="imageUrl"
              mask="0*"
              />
          </div>
      </div>
      <div class="flex gap-2 mt-4">
        <button type="submit" class="rounded bg-red-600 text-slate-50 px-3 py-1">
          Delete
        </button>
        <a
          class="rounded font-semibold underline px-3 py-1"
          [routerLink]="['/admin/products']"
        >
          Back to List
        </a>
      </div>
    </form>
  </div>
  