<div class="max-w-[1220px] m-auto">
  <div class="flex">
    <div class="flex flex-col justify-center gap-10 flex-1 p-4">
      <div class="flex flex-col gap-2">
        <h1 class="text-4xl font-semibold">Find the best prices</h1>
        <p>
          We offer best prices for all ages and sizes. Just browse through and
          see your size.
        </p>
      </div>
      <div class="flex shadow-sm shadow-gray-300 w-fit rounded overflow-hidden">
        <input
          class="pl-4 pr-1 py-2 focus:outline-none"
          type="text"
          placeholder="Search for a product..."
        />
        <a
          href="#"
          class="cursor-pointer bg-teal-600 transition-all ease-in hover:bg-teal-700 px-4 py-2"
          >Search</a
        >
      </div>
    </div>
    <div class="flex-1">
      <img
        class="min-w-full aspect-square object-cover"
        src="../../../assets/hero.webp"
        alt=""
      />
    </div>
  </div>
  <div class="px-5 pb-20">
    <h1 class="pt-8 text-center text-2xl font-semibold">Products</h1>
    <div class="flex flex-wrap gap-4 pt-6">
      @for (product of products; track $index) {
      <div class="min-w-[250px] flex-1 cursor-pointer">
        <div
          class="rounded min-w-[250px] h-[200px] bg-gray-300 hover:bg-slate-300 transition-all ease-in-out"
        ></div>
        <div class="flex justify-between items-center">
          <p class="font-semibold text-lg">{{ product.name }}</p>
          <p class="text-orange-600">{{ product.price | currency : "ZAR" }}</p>
        </div>
        <div class="flex-1">{{ product.categoryName }}</div>
      </div>
      }
    </div>
  </div>
</div>
